.textSquare {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 80px;
  margin: auto;
  padding: 5%;
  color: white;
}

.row {
  flex-direction: column;
}

.errorMessage {
  color: orange;
  font-size: 40px;
}
